training_1/cp-0050.ckpt
training_1/cp.ckpt
training_1/cp-0005.ckpt
training_1/cp-0010.ckpt
training_1/cp-0015.ckpt
training_1/cp-0020.ckpt
training_1/cp-0025.ckpt
training_1/cp-0030.ckpt
training_1/cp-0035.ckpt
training_1/cp-0040.ckpt
training_1/cp-0045.ckpt
training_2/cp-0050.ckpt
training_2/cp-0005.ckpt
training_2/cp-0010.ckpt
training_2/cp-0015.ckpt
training_2/cp-0020.ckpt
training_2/cp-0025.ckpt
training_2/cp-0030.ckpt
training_2/cp-0035.ckpt
training_2/cp-0040.ckpt
training_2/cp-0045.ckpt
